@import "../../abstract/functions", "../../abstract/responsive", "../../abstract/variables";


.top{
    width: 80px;
    height: 80px;


    position:fixed;
    left:90%;
    top:80%;

    font-size: 5rem;
    cursor: pointer;
    background: transparent;
    @include reset-link($color1);
    
    border: none;
    outline: none;
    border-radius: 50%;


    padding: 5px;

    z-index: 99999;

    @include displayflex(justify-content,center);
    align-items: center;




    @include for-tablet-only{

        font-size: 2.5rem;
        left:85%;
    }

        @include for-phone-only{

            width: 50px;
            height: 50px;

            font-size: 2rem;
            left:80%;
        }
}