//Variables
$color1: #084AAD;
$color2: #4394E3;
$color3: #74BFEA;
$color4: #F8F9FA;
$color5: #f8f9faad;
$color6: #555;
$color-text: #22262A;

//fonts
$font-text: 'Poppins', sans-serif;
$font-title: 'Fjalla One', sans-serif;

