@import "../../abstract/variables","../../abstract/functions","../../abstract/responsive";

.button{
    background: linear-gradient($color2, $color2, $color1);
    color: $color4;
    padding: 15px 60px;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;

    @include fontSize(20px);

     //animation pulse

     display: inline-block;
     vertical-align: middle;
     -webkit-transform: perspective(1px) translateZ(0);
     transform: perspective(1px) translateZ(0);
     box-shadow: 0 0 1px transparent;
 
     &:hover, &:focus, &:active{
         
         -webkit-animation-name: ef-pulse-grow;
         animation-name: ef-pulse-grow;
         -webkit-animation-duration: 0.3s;
         animation-duration: 0.3s;
         -webkit-animation-timing-function: linear;
         animation-timing-function: linear;
         -webkit-animation-iteration-count: infinite;
         animation-iteration-count: infinite;
         -webkit-animation-direction: alternate;
         animation-direction: alternate;        
     }
 
     @-webkit-keyframes ef-pulse-grow {
         to {
           -webkit-transform: scale(1.1);
           transform: scale(1.1);
         }
       }
       @keyframes ef-pulse-grow {
         to {
           -webkit-transform: scale(1.1);
           transform: scale(1.1);
         }
       }
 
       //end animation

       //phone
       @include for-phone-only{
        padding: 15px 35px;
       }
 
}