@import "../../abstract/functions","../../abstract/responsive","../../abstract/variables";

.contact{

    @include fullscreen(100vw, auto);
    flex-direction: column;
    justify-content: space-between;
    background-color: $color4;


            &__title{

            @include title(40px, center, $color-text, $color6);
            padding: 150px 0px 0px 0px;
            margin-right: 10px;
            align-self: center;


            //tablet
            @include for-tablet-only{
                @include fontSize(38px);
            }

            //phone
            @include for-phone-only{
                padding: 70px 0px 10px 0px;
                 @include fontSize(35px)
            }

            }

            &__container{

                @include wrapperCenter(60%,column);
                padding: 90px 0px;

                align-self: center;


                //tablet
                @include for-tablet-only{
                    padding: 60px 0px;
                }

                //phone
                @include for-phone-only{
                    padding: 60px 0px;
                }


                    .content{

                        &__data{
                            @include displayflex(justify-content, center);
                            align-items: center;

                                   //tablet
                                    @include for-tablet-only{
                                        @include wrapperCenter(500px, row)
                                    }

                                    //phone
                                    @include for-phone-only{
                                        @include wrapperCenter(340px, column)
                                    }

                                &-inputs{
                                    @include displayflex(justify-content, center);
                                    flex-direction: column;
                                    width: 40%;
                                    margin: 5px;

                                    //tablet
                                    @include for-tablet-only{
                                      width: 32%;
                                    }

                                    //phone
                                    @include for-phone-only{
                                        width: 320px;
                                    }


                                    label{
                                        @include subtitle(16px, start, $color6);
                                        margin-left: 5px;
                                        margin-bottom: 5px;

                                        //tablet
                                        @include for-tablet-only{
                                             @include fontSize(16px);
                                        }


                                    }

                                    input, select{
                                        margin-bottom: 10px;
                                        height: 40px;
                                        padding-left: 5px;
                                        border-radius: 5px;
                                        border: solid 2px $color8;
                                        background: $color10;
                                    }
                                }

                        }

                        &__message{
                            @include displayflex(justify-content, center);
                            flex-direction: column;



                            label{
                                @include subtitle(16px, start, $color6);
                                margin-bottom: 5px;
                                margin-left: 5px;

                                //tablet
                                 @include for-tablet-only{
                                     @include fontSize(16px);
                                 }
                            }

                            input, textarea{
                                margin-bottom: 10px;
                                padding-left: 5px;
                                border-radius: 5px;
                                border: solid 2px $color8;
                                background: $color10;
                            }

                            input{
                                height: 40px;

                            }

                            textarea{
                                margin-bottom: 20px;
                            }
                        }

                        &__button{
                            @include displayflex(justify-content, flex-end);

                            //phone
                            @include for-phone-only{
                                @include displayflex(justify-content, center);
                                padding: 30px 0px;
                            }
                        }

                    }


            }

}