@import "../../abstract/functions";
@import "../../abstract/responsive";
@import "../../abstract/variables";

.navbar{

    &__menu{
                @include displayflex(justify-content, center);
                @include reset-list();

            &-item{
                margin-right: 10px;

                &-link{

                    @include reset-link($color6);
                    @include fontSize(16px);
                    cursor: pointer;
                    transition: all .7s linear ;

                    &:hover{
                        color: $color2;
                    }

                    &:active{
                        color: $color1;
                    }
 
                }

                @include for-phone-only{
                    display: none;

                }
            }
            &-button{
                @extend %invisible;
                width: 60px;
                border: none;
                outline: none;
                border-radius: 5px;

                @include for-phone-only{
                    display: inline;
                }

                .menu{
                    width: 100%;
                }
            }

          //menu mobile

          &-mobile-opts{
              width: 100vw;


              @include reset-list();
              position: absolute;
              top: 0;
              left: 0;

              z-index: -1000;
              opacity: 0;

              background: linear-gradient($color4, $color4, $color5);

              transition: all 0.5s ease;

            &-show{
                position: absolute;
                top: 90px;
                left: 0vw;

                z-index: -9000;
                opacity: 1;

                transition: all 0.5s linear;
            }

          }

          &-mobile-items{
              color: $color-text;
              margin: 15px;
              text-align: center;
            //   transition: all 2s linear ;
          }
    }

}

