@import "../../abstract/functions";
@import "../../abstract/responsive";
@import "../../abstract/variables";

.section__carousel{
    width: 100vw;
    height: 100vh;
    background-color: $color1;
    position: relative;

    @include for-phone-only{
        height: 45vh;
    }

    @include for-tablet-only{
        height: 55vh;
    }

    &-banner{
        width: 100%;
        padding:30px 0px 5px 0px;

        @include for-phone-only{
            height: 35vh;
        }

        @include for-tablet-only{
            height: 45vh;
        }


        &-show{
            position: absolute;
            left:0;
            transition: all 1s ease;
        }

        &-hide{
            position: absolute;
            left: -100vw;
            transition: all 1s ease;
        }
    }
}


