@import "../../abstract/variables","../../abstract/functions","../../abstract/responsive";

.animation{
    @include fullscreen(100%, 100vh);
    background: $color4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    &__logo{
        width: 350px;
        height: 350px;
    }


}