@import "../../abstract/functions","../../abstract/responsive","../../abstract/variables";


.footer{
    @include fullscreen(100vw, auto);
    background: $color2;
    @include displayflex(justify-content,center);
    flex-direction: column;
    align-items: center;

    &__content{

        padding: 40px 0px;

        @include wrapperCenter(70%,row);
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: nowrap;


        //tablet
        @include for-tablet-only{
            flex-wrap: wrap;
        }

        //phone
        @include for-phone-only{
            flex-wrap: wrap;
        }


        .university{
            width: 33,33%;
            height: 200px;
            @include displayflex(justify-content,center);
            flex-direction: column;
            align-items: center;

            //table
            @include for-tablet-only{
                width: 50%;
            }
            
            &__title{
                @include subtitle(20px,center,$color4);

                //phone
                @include for-phone-only{
                     @include fontSize(16px);
                }

                //tablet
                @include for-tablet-only{
                    @include fontSize(13px);
                }
            }

            &__link{
                color: $color4;
                @include reset-link($color4);
                margin-top: 5px;

                //tablet
                @include for-tablet-only{
                    @include fontSize(13px);
                }

                //phone
                @include for-phone-only{
                     @include fontSize(16px);
                }
            }

        }

        .map{
            width: 33,33%;
            height: 200px;
            @include displayflex(justify-content,flex-start);
            flex-direction: column;
            align-items: center;

            //table
            @include for-tablet-only{
                width: 50%;
            }

            //phone
            @include for-phone-only{
                width: 100%;
                height: auto;
            }


            &__title{
                @include subtitle(20px,center,$color4);

                //tablet
                @include for-tablet-only{
                    @include fontSize(13px);
                }

                //phone
                @include for-phone-only{
                     @include fontSize(16px);
                }

            }

            &__link{
                color: $color4;
                @include reset-link($color4);

                //tablet
                @include for-tablet-only{
                    @include fontSize(13px);
                }
            }
        }

        .adress{

            width: 33,33%;
            height: 200px;
            @include displayflex(justify-content,center);
            flex-direction: column;
            align-items: center;

            //table
            @include for-tablet-only{
                width: 50%;
            }

            //phone
            @include for-phone-only{
                width: 100%;
                height: auto;
            }


            &__item{
                color: $color4;
                
            //tablet
            @include for-tablet-only{
                @include fontSize(12px);
               }

            //phone
             @include for-phone-only{
                @include fontSize(14px);
               }

            }


        }


    }

    &__socialMedia{
        @include wrapperCenter(40%, center);
        padding: 70px 0px;

        &-link{
            @include reset-link($color4);
            @include fontSize(50px); 
            margin: 5px;
            
            transition: all .4s linear;

            //tablet
            @include for-tablet-only{
                @include fontSize(40px); 
            }

            //phone
            @include for-phone-only{
              @include fontSize(40px);
             }
            
            i{
                margin: 5px;
            }
        }

    }

    &__copyright{
        @include wrapperCenter(70%, center);
        @include fontSize(16px);
        color: $color4;
        border-top: 2px solid $color4;
        padding: 30px;

            //tablet
            @include for-tablet-only{
                @include fontSize(11px); 
            }

            //phone
            @include for-phone-only{
                @include fontSize(10px);
            }
    }

}